
/*木婉清修改*/
/*注册*/
#register{
	z-index: 1;
}
.full_s{
	height: 100%;
}
.login_bg {
	background: url(../../public/images/login_bg.jpg) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.padd0 {
	padding: 0;
}
.formBox{
	width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
}
.formBox .reg_wrap .row{
	border-bottom: 1px solid #fff;
	height: 4rem;
}
.formBox .reg_wrap .row .icons{
	width: 2rem;
	float: left;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
#register .reg_wrap .row .icons i,#findPassword .reg_wrap .row .icons i{
	display: block;
	width: 1.04rem;
	height: 1.5rem;
	background: url(../../public/images/icons.png) no-repeat;
	background-size: 26.79rem 71.43rem;
}
#register .reg_wrap .row .icons i.icon1,#findPassword .reg_wrap .row .icons i.icon1{
	background-position: 0 0;
}
#register .reg_wrap .row .icons i.icon2,#findPassword .reg_wrap .row .icons i.icon2{
	width: 1.39rem;
	height: 1.5rem;
	background-position: -1.04rem 0;
}
.formBox .reg_wrap .row input{
	border: none;
	background: none;
	font-size: 1.07rem;
	color: #fff;
	float: left;
	height: 100%;
}
.formBox .reg_wrap .row input#code{
	width: 50%;
}
.formBox .reg_wrap .row .btn_r{
	float: right;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.formBox .reg_wrap .row button{
	border: none;
	background: none;
	color: #fff;
	background: #2b8cff;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	font-size: 0.8rem;
/*	width: 6.4rem;*/
}
.formBox .row3{
	margin-top: 0.8rem;
}
.formBox .row3 input{
	vertical-align: middle;
}
.formBox .row3 span{
	color: #fff;
	font-size: 0.8rem;
}
.formBox .row3 span a{
	color: #89bfff;
	font-size: 0.8rem;
}
.formBox #next_btn{
	font-size: 1.28rem;
	color: #fff;
	background: rgba(255,255,255,.4);
	width: 100%;
	display: block;
	border-radius: 20px;
	text-align: center;
	height: 2.85rem;
	line-height: 2.85rem;
	margin-top: 3rem;
}
.formBox p.other{
	font-size: 0.9rem;
	color: #fff;
	margin-top: 1rem;
}
.formBox p.other a{
	color: #89bfff;
}
/*设置密码*/
#setPassword,#newPassword{
	position: absolute;
	top: 0;
	left: 10%;
	z-index: 2;
	display: none;
}
.formBox .title{
	font-size: 1.07rem;
	color: #fff;
	text-align: center;
	font-weight: normal;
}
#setPassword .reg_wrap .row .icons i,#newPassword .reg_wrap .row .icons i{
	display: block;
	width: 1.25rem;
	height: 1.5rem;
	background: url(../../public/images/icons.png) no-repeat;
	background-size: 26.79rem 71.43rem;
}
#setPassword .reg_wrap .row .icons i.icon1,#newPassword .reg_wrap .row .icons i.icon1{
	background-position: -4.96rem 0;
}
#setPassword .reg_wrap .row .icons i.icon2,#newPassword .reg_wrap .row .icons i.icon2{
	width: 1.21rem;
	height: 1.5rem;
	background-position: -2.43rem 0;
}
.formBox .reg_wrap .row .icons.icon_r{
	float: right;
	width: auto;
}
#setPassword .reg_wrap .row .icons i.icon3,#newPassword .reg_wrap .row .icons i.icon3,#login .reg_wrap .row .icons i.icon3{
	width: 1.14rem;
	height: 0.54rem;
	background-position: 0 -2.57rem;
}
/*登录*/
#login .login_logo{

}
#login .formBox{
	margin-top: 0;
}
#login .reg_wrap .row .icons i{
	display: block;
	width: 1.32rem;
	height: 1.5rem;
	background: url(../../public/images/icons.png) no-repeat;
	background-size: 26.79rem 71.43rem;
}
#login .reg_wrap .row .icons i.icon1{
	background-position: -3.64rem 0;
}
#login .reg_wrap .row .icons i.icon2{
    width: 1.21rem;
    height: 1.5rem;
    background-position: -2.43rem 0;
}
#login .links{
	margin-top: 1rem;
}
#login .links a{
	color: #fff;
	font-size: 0.9rem;
}
#login .links a:first-child{
	text-decoration: underline;
}