/*放心易装·正保障*/
button {
	border: none;
}
label {
	font-weight: normal;
}
.color-999 {
	color: #999;
}
/*bootstrap修改样式*/
.form-control {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 2px;
	height: 2.8rem;
	line-height: 2.8rem;
	border: #E5E5E5 solid 1px;
	font-size: 1rem;
}
.full_s{
	height: 100%;
}
.login_bg {
	background: url(../../public/images/login_bg.jpg) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.padd0 {
	padding: 0;
}
.input-tel {
	position: relative;
	width: auto;
	margin: 0 0 20px 0;
}
.input-tel label {
	position: absolute;
	left: 1.43rem;
	top: .7rem;
	z-index: 1;
	font-weight: normal;
	font-size: 1rem;
}
.input-tel label.icon-yh,.input-tel label.icon-mm {
	width: 1.43rem;
	height: 1.43rem;
	background: url(../images/sprite.png) no-repeat;
	background-size: 21.42rem 107.14rem;
}
.input-tel label.icon-yh{
	background-position: 0 -9.46rem;	
}
.input-tel label.icon-mm{
	background-position: -1.43rem -9.46rem;	
}
.input-tel input {
	padding: 0.6rem 0 0.6rem 4.28rem;
	width: 100%;
	border-radius: 4px;
	border: #ccc solid 1px;
}
.input-tel span {
	display: block;
	position: absolute;
	right: 10px;
	top: 8px;
}
.input-tel i.yzm-pic {
	position: absolute;
	right: 0;
 	top: .55rem;
	width: 6.4rem;
	height: 1.7rem;
	border-left: #2CAAF6 solid 1px;
}
.input-tel i.yzm-pic img {
	width: 3.1rem;
	height: 1.1rem;
 margin: .3rem auto 0;
}
.input-yzm label {
	display: block;
	margin: 10px 0;
	color: #444;
}
.input-land {
	width: auto;
	border: #ccc solid 1px;
	border-radius: 4px;
}
.input-land input {
	font-size: 1rem;
	padding: .8rem 0;
	border: none;
	float: left;
	width: calc(100% - 3.43rem);
}
.input-yh, .input-mm {
	width: 100%;
	height: 3.2rem;
}
.input-yh {
	border-bottom: #ccc solid 1px;
}
.input-yh .icon, .input-mm .icon {
	width: 1.43rem;
	height: 1.43rem;
	float: left;
 margin: .88rem 1rem;
	background: url(../images/sprite.png) no-repeat;
	background-size: 21.42rem 107.14rem;
}
.input-yh .icon {
	background-position: 0 -9.46rem;
}
.input-mm .icon {
	background-position: -1.43rem -9.46rem;
}
.input-yzm input {
	width: 60%;
	float: left;
	text-align: left;
	margin: 0 1rem 0 0;
	padding: 0.6rem 0.85rem;
	border-radius: 4px;
	border: #ccc solid 1px;
}
.input-yzm button {
	width: 34%;
	height: 2.8rem;
	text-align: center;
	background: #ccc;
	color: #fff;
	border-radius: 4px;
	float: right;
}
.input-yzm button.button-bd{
	background: none;
	color: #999;
	border: #ccc solid 1px;
}
.bt-sub {
	display: block;
	width: 100%;
	height: 2.8rem;
	border: #ddd solid 1px;
	margin: 20px 0 10px;
	font-size: 1.2rem;
	color: #fff;
	background: #377afc;
	border-radius: 4px;
}
.float-l {
	float: left;
}
.checkbox-mm p {
	padding: 10px 0 0 0;
	color: #999;
}
.input-sz label {
	line-height: 3rem;
	color: #444;
}
.input-sz input{
	padding: 0.6rem 0.85rem;
	width: 100%;
	border-radius: 4px;
	border: #ccc solid 1px;
}
.input-sz div{
	position: relative;
}
.input-sz i{
	position:absolute;
	top: 2rem;
	right: 1rem;
	display: block;
	width: 1.14rem;
	height: 0.68rem;
	background: url(../images/sprite.png) no-repeat;
	background-size: 21.42rem 107.14rem;
	background-position:0 -12.68rem;
}
.marg-y10 {
	margin: 1rem 0;
}
.marg-t10 {
	margin: 1rem 0 0 0;
}
.marg-y30 {
	margin: 3rem 0;
}
.cl-banner {
	width: 100%;
	height: 12.8rem;
	background: url("../images/banner-bg.jpg") no-repeat;
	background-size: 100% 12.85rem;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.cl-banner img {
	width: 53%;
	height: auto;
}
.input-rout {
	overflow: hidden;
}
.input-rout label {
	float: left;
	line-height: 3.5rem;
}
.input-rout input {
	width: 85%;
	float: right;
	margin: 6px 0;
}
.sign-link {
	overflow: hidden;
}
.sign-link a {
	display: block;
	float: left;
	width: 50%;
	padding: 8px 0;
	color: #2b8cff;
}
.sign-link a:nth-child(1) {
	text-align: left;
	padding-left: 1rem;
}
.sign-link a:nth-child(2) {
	text-align: right;
	padding-right: 1rem;
}
.sign-wq h3 {
	position: relative;
}
.sign-wq h3 div {
	position: absolute;
	background: #2b8cff;
	height: 1px;
	width: 100%;
 margin-top:.5rem;
}
.sign-wq h3 span {
	position: relative;
	z-index: 1;
	background: #fff;
	width: 30%;
	left: 50%;
	margin-left: -15%;
	display: inline-block;
	text-align: center;
	color: #999;
}
.sign-wq a {
	display: block;
	float: left;
	width: 50%;
	height: 4rem;
	margin-top: 2rem;
	font-size: 0.7rem;
	color: #999;
	padding: 0 1.4rem;
}
.sign-wq a.wx {
	text-align: right;
}
.sign-wq a.qq {
}
.sign-wq a i {
	display: block;
	width: 1.79rem;
	height: 1.79rem;
 margin-bottom:.3rem;
	background: url(../images/sprite.png) no-repeat;
	background-size: 21.42rem 107.14rem;
}
.sign-wq a.wx i {
	background-position: 0 -10.89rem;
	margin-left: 8rem;
}
.sign-wq a.qq i {
	background-position: -1.79rem -10.89rem;
	margin-left: .7rem;
}
.import {
	color: #FE6270;
}
/*按钮样式*/
.button-ty {
	text-align: center;
 padding: .5rem 2rem;
	border-radius: 4px;
	background: #fff;
	border: #ccc solid 1px;
	position: relative;
	left: 50%;
}
.button-w10 {
	width: 10rem;
	margin-left: -5rem;
}
/*木婉清修改*/
/*注册*/
#register{
	z-index: 1;
}
.formBox{
	width: 80%;
	margin: 0 auto;
	margin-top: 2rem;
}
.formBox .reg_wrap .row{
	border-bottom: 1px solid #fff;
	height: 4rem;
}
.formBox .reg_wrap .row .icons{
	width: 2rem;
	float: left;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
#register .reg_wrap .row .icons i,#findPassword .reg_wrap .row .icons i{
	display: block;
	width: 1.04rem;
	height: 1.5rem;
	background: url(../../public/images/icons.png) no-repeat;
	background-size: 26.79rem 71.43rem;
}
#register .reg_wrap .row .icons i.icon1,#findPassword .reg_wrap .row .icons i.icon1{
	background-position: 0 0;
}
#register .reg_wrap .row .icons i.icon2,#findPassword .reg_wrap .row .icons i.icon2{
	width: 1.39rem;
	height: 1.5rem;
	background-position: -1.04rem 0;
}
.formBox .reg_wrap .row input{
	border: none;
	background: none;
	font-size: 1.07rem;
	color: #fff;
	float: left;
	height: 100%;
}
.formBox .reg_wrap .row input#code{
	width: 50%;
}
.formBox .reg_wrap .row .btn_r{
	float: right;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.formBox .reg_wrap .row button{
	border: none;
	background: none;
	color: #fff;
	background: #2b8cff;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	font-size: 0.8rem;
	width: 6.4rem;
}
.formBox .row3{
	margin-top: 0.8rem;
}
.formBox .row3 input{
	vertical-align: middle;
}
.formBox .row3 span{
	color: #fff;
	font-size: 0.8rem;
}
.formBox .row3 span a{
	color: #89bfff;
	font-size: 0.8rem;
}
.formBox #next_btn{
	font-size: 1.28rem;
	color: #fff;
	background: rgba(255,255,255,.4);
	width: 100%;
	display: block;
	border-radius: 20px;
	text-align: center;
	height: 2.85rem;
	line-height: 2.85rem;
	margin-top: 3rem;
}
.formBox p.other{
	font-size: 0.9rem;
	color: #fff;
	margin-top: 1rem;
}
.formBox p.other a{
	color: #89bfff;
}
/*设置密码*/
#setPassword,#newPassword{
	position: absolute;
	top: 0;
	left: 10%;
	z-index: 2;
	display: none;
}
.formBox .title{
	font-size: 1.07rem;
	color: #fff;
	text-align: center;
	font-weight: normal;
}
#setPassword .reg_wrap .row .icons i,#newPassword .reg_wrap .row .icons i{
	display: block;
	width: 1.25rem;
	height: 1.5rem;
	background: url(../../public/images/icons.png) no-repeat;
	background-size: 26.79rem 71.43rem;
}
#setPassword .reg_wrap .row .icons i.icon1,#newPassword .reg_wrap .row .icons i.icon1{
	background-position: -4.96rem 0;
}
#setPassword .reg_wrap .row .icons i.icon2,#newPassword .reg_wrap .row .icons i.icon2{
	width: 1.21rem;
	height: 1.5rem;
	background-position: -2.43rem 0;
}
.formBox .reg_wrap .row .icons.icon_r{
	float: right;
	width: auto;
}
#setPassword .reg_wrap .row .icons i.icon3,#newPassword .reg_wrap .row .icons i.icon3,#login .reg_wrap .row .icons i.icon3{
	width: 1.14rem;
	height: 0.54rem;
	background-position: 0 -2.57rem;
}
/*登录*/
#login .login_logo{

}
#login .formBox{
	margin-top: 0;
}
#login .reg_wrap .row .icons i{
	display: block;
	width: 1.32rem;
	height: 1.5rem;
	background: url(../../public/images/icons.png) no-repeat;
	background-size: 26.79rem 71.43rem;
}
#login .reg_wrap .row .icons i.icon1{
	background-position: -3.64rem 0;
}
#login .reg_wrap .row .icons i.icon2{
    width: 1.21rem;
    height: 1.5rem;
    background-position: -2.43rem 0;
}
#login .links{
	margin-top: 1rem;
}
#login .links a{
	color: #fff;
	font-size: 0.9rem;
}
#login .links a:first-child{
	text-decoration: underline;
}